<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans h-screen bg-gray-100 ">
    <div id="data-display">
        <div class="flex justify-between">
            <span class="ml-6 w-1/2 mt-5 text-center">
                <h2 class="-mt-0 text-xl font-bold text-blue-800">PCS Data</h2>
                <table id="pcs-table" class="mt-5 w-11/12 border-2 "></table>
            </span>
            <span class="ml-6 w-1/2 mt-5 text-center">
                <h2 class="-mt-0 text-xl font-bold text-blue-800">Battery Data</h2>
                <table id="bat-table" class="mt-5 w-11/12 border-2"></table>
            </span>
        </div>
    </div>

    <script>
        function fetchData() {
            $.ajax({
                url: '/fetch/',
                type: 'GET',
                success: function(response) {
                    updateDisplay(response);
                },
                error: function(error) {
                    showError('데이터를 불러오는 중 문제가 발생했습니다.');
                }
            });
        }
    
        function updateDisplay(response) {
            const { pcs_data, bat_data } = response;
            if (dataHasChanged(pcs_data, 'pcs-table') || dataHasChanged(bat_data, 'bat-table')) {
                displayTable(pcs_data, 'pcs-table', 'W', 'Hz', 'V', 'A');
                displayTable(bat_data, 'bat-table', '%', '%', 'V', 'A');
            }
        }
    
        function displayTable(data, tableId, ...units) {
            let tableHtml = `<table>`;
            Object.keys(data).forEach((key, index) => {
                const formattedValue = parseFloat(data[key]).toFixed(3);
                const unit = determineUnit(key, units);
                tableHtml += `<tr class="border-2"><th class="text-center text-blue-900 px-6 py-4 bg-gray-200 border-2 border-neutral-300">${key}</th><td class="text-center  border-2 border-neutral-300 px-8 py-4">${formattedValue} ${unit}</td></tr>`;
            });
            tableHtml += `</table>`;
            $('#' + tableId).html(tableHtml);
        }
    
        function dataHasChanged(newData, tableId) {
            const currentData = $('#' + tableId).data('current');
            if (JSON.stringify(currentData) !== JSON.stringify(newData)) {
                $('#' + tableId).data('current', newData);
                return true;
            }
            return false;
        }
    
        function determineUnit(key, units) {
            if (key === 'active_power') return units[0];
            if (key.includes('SO')) return units[0];
            if (key === "frequency") return units[1];
            if (key.includes('vol')) return units[2];
            if (key.includes('cur')) return units[3];
            return '';
        }
    
        function showError(message) {
            $('#data-display').html(`<p class="text-red-500">${message}</p>`);
        }
    
        $(document).ready(function() {
            fetchData();
            setInterval(fetchData, 1000);
        });
    </script>
    
</body>
</html>